
#header {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px
}

.container {
    padding-left: 10px;
    padding-right: 10px
}

#content.row {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    margin-top: 20px
}

.navigation {
    background: #96b97d
}

.nav {
    text-transform: uppercase
}

.nav ul,.nav-sub ul {
    list-style: none;
    white-space: nowrap;
    margin-top: 10px
}

.nav li,.nav-sub li {
    display: inline;
    margin: 0 20px 0 0
}

.nav li a,.nav-sub li a {
    padding: 10px 0 10px 0;
    text-decoration: none
}

.nav li a {
    color: #fff
}

.nav li a:hover {
    color: #e3efd9
}

.nav-sub li a {
    color: #333
}

.nav-sub li a:hover {
    color: #777
}

.sort{
    margin-right:10px;
}

.title {
    font-size: 16px;
}

.chapter {
}

@media handheld,only screen and (max-width: 640px) {

    .nav li,.nav-sub li {
        margin: 0 10px 0 0
    }
}